<header>
  <div class="logo">
<img src="../assets/img/favicon.png" alt="" srcset=""><p>Frutika</p></div>

  <div class="nav-links">
    <p routerLink="" routerLinkActive="active"[routerLinkActiveOptions]="{exact:true}">Home</p>
    <p routerLink="products" routerLinkActive="active">Products</p>
    <p routerLink="aboutUs" routerLinkActive="active">About Us</p>
    <p routerLink="contactUs" routerLinkActive="active">Contact Us</p>
    <p routerLink="register" routerLinkActive="active">Register</p>
  </div>

  <div class="logs">
    <!-- <p routerLink="cart" routerLinkActive="active"></p> -->
    <img routerLink="cart" routerLinkActive="active" src="https://imgs.search.brave.com/0kGn7vzd4NCQggxkR3-GZAmED-IBm1AF_Hz2v5Ypyyc/rs:fit:900:521:1/g:ce/aHR0cHM6Ly93d3cu/Y2xpcGFydGtleS5j/b20vbXBuZ3MvbS80/OC00ODYwMjJfZG93/bmxvYWQtYW5kLXVz/ZS1zaG9wcGluZy1j/YXJ0LXBuZy1pbWFn/ZS13aXRob3V0LnBu/Zw" alt="" srcset="">
    <p routerLink="login" routerLinkActive="active">Login</p>
    <p routerLink="logout" routerLinkActive="active">Logout</p>
  </div>
</header>

<router-outlet></router-outlet>
<app-footer></app-footer>
