*{
   margin: 0;
   padding: 0;
   
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:black;
    position:fixed;
     width: 100%;
     cursor: pointer;
   
 }
 header img{
   margin-left: 10px;
    height: 60px;
    width: 80%;
    cursor: pointer;
      
 }
 .logo p{
   margin-left: 10px;
   color: coral;
      
 }
 p{
   color:white;
  
 }
 .nav-links{
   margin-right:20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 20px;
    gap: 20px;
    align-items: center;
 }
 
 .logs {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   font-size: 20px;
   gap: 20px;
   align-items: center;
   margin-right: 5%;
}

  
 .active{
    color:red;
    font-weight: 200;
 }
 .logs img{
   height: 50px;
   width: 50px;
   border-radius: 50px;
 }