.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10%;
    gap: 10px;
    width: 60%;
    margin-left: 20%;
    padding-top: 10%;
}
.form h2{
    font-size: 2pc;
  }
  .form p{
    color:darkgray;
  }
  form input{
   height: 45px;
   width: 80%;
   margin-top: 30px;
   border-radius: 50px solid grey;
   
  }
 
  .btn{
    background-color: coral;
    border-radius: 10px;
    height: 50px;
    width: 50%;
    margin-top: 15px;
    border-style: none;
  }
  .btn1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }