<div class="imagetop">
  <div class="paragraph">
    <p>WE SELL FRESH FRUITS</p>
  </div>

  <div class="about">
    <h1>About Us</h1>
  </div>
</div>
<h1 style="color:coral;">WHY FRUTIKA</h1>
<div class="frutika">
    
  <div class="words">
    <div class="one">
        <div class="best-price"> <br><br><br><br>
          <div class="img">
            <img src="../../../assets/img/a.jpg" alt="" srcset="" />
          </div>
          <div class="details">
            <h2>Home Delivery</h2><br>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis
              exercitationem obcaecati illo accusamus repellendus. Quidem.
            </p>
          </div>
        </div>
  
        <div class="best-price">
          <div class="img">
            <img src="../../../assets/img/a.jpg" alt="" srcset="" />
          </div>
          <div class="details">
            <h2>Best Prices</h2><br>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis
              exercitationem obcaecati illo accusamus repellendus. Quidem.
            </p>
          </div>
        </div>
      </div>
  
      <div class="two">
        <div class="best-price">
          <div class="img">
            <img src="../../../assets/img/a.jpg" alt="" srcset="" />
          </div>
          <div class="details">
            <h2>Custom Box </h2><br>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis
              exercitationem obcaecati illo accusamus repellendus. Quidem.
            </p>
          </div>
        </div>
  
        <div class="best-price">
          <div class="img">
            <img src="../../../assets/img/a.jpg" alt="" srcset="" />
          </div>
          <div class="details">
            <h2>Quick Refund</h2><br>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis
              exercitationem obcaecati illo accusamus repellendus. Quidem.
            </p>
          </div>
        </div>
  </div>

  <div class="images">
    <img src="../../../assets/img/feature-bg.jpg" alt="" />
  </div>
</div>
