<div class="content">
    <div class="left">
        <img src="../../../assets/img/feature-bg.jpg" alt="" srcset="">
    </div>

    <div class="right">
        <h1>Add Products Here</h1>
        <label>Name</label>
        <input type="text" #name>

        <label>Description</label>
        <input type="text" #description>

        <label>Image</label>
        <input type="text" #image>

        <label>Price</label>
        <input type="number" #price>

        <button (click)="AddProducts()">Submit</button>
    </div>
</div>
